table{
    table-layout: fixed;
    width: 500px;
}

tr,td{
    word-wrap: break-word;
}

header,footer{
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: blanchedalmond;
}

h2, h3{
    font-family: 'Courier New', Courier, monospace;

}

p,body{
    font-family: 'Courier New', Courier, monospace;
}


